*.egg-info/
__pycache__/
node_modules/
.vscode/*
.spinetoolbox/items/*
.spinetoolbox/local/*
dev_files/*
# Generated pydantic models are tracked in git.
# Regenerate with: gen-pydantic model/cesm_v0.1.0.yaml > src/generated/cesm_pydantic.py
specs/*
data/*
!data/samples/
!data/samples/**
